---
---

$header-heading-color: #fff;
$header-bg-color: #000;
$header-bg-color-secondary: #000;

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(120deg, #34a8eb, #fff);
}

