---
---

$header-heading-color: #fff;
$header-bg-color: #34a8eb;
$header-bg-color-secondary: #2796d6;

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(90deg, $header-bg-color-secondary, $header-bg-color, $header-bg-color-secondary)
}

